<template>
  <ion-page>
     <iframe class="frame" src="https://inductionsathome.com/" frameborder="0"></iframe>
  </ion-page>
</template>

<script lang="ts">
import { IonPage } from '@ionic/vue';
import { ellipse, square, triangle } from 'ionicons/icons';

export default {
  components: { IonPage },
  setup() {
    return {
      ellipse, 
      square, 
      triangle,
    }
  }
}
</script>

<style scoped>
  .frame{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
</style>